{% extends "layouts/default.html" %}

{% block content %}

<div class="category-page">

    <div class="container-fluid category-wrap">
        <div class="row row-15">
            <!-- Category Header HTML Starts Here  -->
            <div class="col-12">
                <div class="category-head">
                    <div class="icon-head">
                        <div class="icon-wrap">
                            <i class="icon-watch-features"></i>
                        </div>
                        <div class="content-area">
                            <h2>Watch Features</h2>
                            <h5>Category</h5>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit augue ut euismod
                        pulvinar. Fusce sodales.</p>
                </div>
            </div>

            <!-- Category Header HTML Ends Here -->
            {% include "pages/articles.html" %}

        </div>
    </div>

</div>

{% endblock %}