<!-- Ads HTML Starts Here -->
<section class="ads">
    <div class="container-fluid">
        <div class="row row-12 ads-row equal">
            <div class="col-xl-6">
                <a href="#" class="h-100">
                    <div class="content-card full-card h-100 dark-card">
                        <div class="left">
                            <img src="/images/logo.svg" class="img-fluid logo" alt="images">
                            <h2>NEW TO<br />WATCHES?</h2>
                            <h5>Check out our beginner tutorials.</h5>
                        </div>
                        <div class="right">
                            <img src="/images/new-watch-icon.svg" class="img-fluid img-lg" alt="image">
                            <img src="/images/new-watch-mobile.svg" class="img-fluid img-sm" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <a href="#" class="h-100">
                    <div class="content-card light-card footer-card bottom-card h-100">
                        <img src="/images/book-open.svg" class="img-fluid" alt="image">
                        <div class="number">
                            <h2>371</h2>
                            <p class="d-none d-xl-block d-lg-block d-md-block">Watch Terms</p>
                            <p class="d-block d-xl-none d-lg-none d-md-none">INDUSTRY TERMS</p>
                        </div>
                        <div class="footer">
                            <h6 class="d-none d-xl-block d-lg-block d-md-block">View the Glossary of Watch Terms</h6>
                            <h6 class="d-block d-xl-none d-lg-none d-md-none">See what’s in the glossary</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <a href="#" class="h-100">
                    <div class="content-card dark-card bottom-card single-card h-100">
                        <img src="/images/bar-chart.svg" alt="">
                        <h5>Brand Rankings</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Ads HTML Ends Here -->