<!-- Get the latest in Watches. HTML Starts Here -->
<section class="subscribe">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="subscribe-wrap">

                    <div class="subscribe-content">
                        <div class="icon-wrap">
                            <svg id="newsletter" xmlns="http://www.w3.org/2000/svg" width="80" height="80.001" viewBox="0 0 80 80.001">
                                <rect class="blue-fill" width="20.645" height="20.645" transform="translate(6.452 6.452)" />
                                <path class="green-fill" d="M11.613,23.225A11.613,11.613,0,1,1,23.225,11.613,11.626,11.626,0,0,1,11.613,23.225Zm0-20.645a9.032,9.032,0,1,0,9.032,9.032A9.043,9.043,0,0,0,11.613,2.58Z" transform="translate(28.387 30.968)" />
                                <g id="Group">
                                    <path class="white-fill" data-name="Shape" d="M61.935,69.678H0V51.613H2.58V62.922l.577-1.154a8.986,8.986,0,0,1,8.079-4.994H50.7a8.985,8.985,0,0,1,8.078,4.994l.577,1.154V6.756L58.778,7.91A8.985,8.985,0,0,1,50.7,12.9H41.29v-2.58H50.7a6.414,6.414,0,0,0,5.77-3.567L58.558,2.58H41.29V0H61.935V69.677Zm-50.7-10.323a6.416,6.416,0,0,0-5.771,3.567L3.378,67.1h55.18L56.47,62.922a6.413,6.413,0,0,0-5.77-3.567Z" transform="translate(18.065 10.323)" />
                                    <path class="white-fill" data-name="Shape" d="M56.774,59.356H0V0H56.774V59.355ZM2.58,2.58V56.774H54.194V2.58Z"/>
                                    <path class="white-fill" data-name="Shape" d="M23.225,23.225H0V0H23.225V23.224ZM2.58,2.58V20.645H20.645V2.58Z" transform="translate(5.161 5.161)" />
                                    <rect class="white-fill" data-name="Rectangle" width="20.645" height="2.581" transform="translate(30.968 5.161)" />
                                    <rect class="white-fill" data-name="Rectangle" width="15.484" height="2.581" transform="translate(36.129 10.323)" />
                                    <rect class="white-fill" data-name="Rectangle" width="20.645" height="2.581" transform="translate(30.968 15.484)" />
                                    <rect class="white-fill" data-name="Rectangle" width="20.645" height="2.581" transform="translate(30.968 20.645)" />
                                    <rect class="white-fill" data-name="Rectangle" width="15.484" height="2.581" transform="translate(30.968 25.806)" />
                                    <rect class="white-fill" data-name="Rectangle" width="15.484" height="2.581" transform="translate(10.323 30.968)" />
                                    <rect class="white-fill" data-name="Rectangle" width="20.645" height="2.581" transform="translate(5.161 36.129)" />
                                    <rect class="white-fill" data-name="Rectangle" width="20.645" height="2.581" transform="translate(5.161 41.29)" />
                                    <rect class="white-fill" data-name="Rectangle" width="20.645" height="2.581" transform="translate(5.161 46.452)" />
                                    <rect class="white-fill" data-name="Rectangle" width="2.581" height="2.581" transform="translate(23.226 51.613)" />
                                    <rect class="white-fill" data-name="Rectangle" width="15.484" height="2.581" transform="translate(5.161 51.613)"/>
                                    <rect class="white-fill" data-name="Rectangle" width="2.581" height="2.581" transform="translate(49.032 25.806)" />
                                    <rect class="white-fill" data-name="Rectangle" width="2.581" height="2.581" transform="translate(30.968 10.323)" />
                                    <rect class="white-fill" data-name="Rectangle" width="2.581" height="2.581" transform="translate(5.161 30.968)" />
                                </g>
                            </svg>
                        </div>
                        <h3>Get the latest in Watches.</h3>

                        <!-- Form Starts Here -->
                        <form>
                            <div class="form-wrap">
                                <input type="text" class="form-control" placeholder="Enter your Email adress">
                                <button type="submit" class="button primary-button">SUBSCRIBE</button>
                            </div>
                        </form>
                        <!-- Form Ends Here -->

                    </div>

                    <div class="social-wrap">
                        <a href="#" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="30" viewBox="0 0 15 30">
                                <path class="blue-fill" d="M4.358,30V16.582H0V11.25H4.358v-4.2C4.358,2.484,7.063,0,11.011,0A35.491,35.491,0,0,1,15,.211V4.98H12.261c-2.148,0-2.563,1.055-2.563,2.6V11.25h4.847l-.665,5.332H9.7V30" />
                            </svg>
                        </a>
                        <a href="#" target="_blank">
                            <svg id="instagram" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
                                <rect class="blue-fill" width="28" height="28" rx="5" />
                                <path class="black-stroke" d="M11.14,4.779A5.6,5.6,0,1,1,6.422.061,5.6,5.6,0,0,1,11.14,4.779Z" transform="translate(8.46 8.339)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                                <path data-name="Path" d="M.7.7h0" transform="translate(21 5.6)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                            </svg>
                        </a>
                        <a href="#" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="26.444" viewBox="0 0 32 26.444">
                                <path class="blue-fill" d="M32,.015A15.77,15.77,0,0,1,27.433,2.27,6.46,6.46,0,0,0,20.192.434,6.6,6.6,0,0,0,16,6.691V8.165A15.441,15.441,0,0,1,2.909,1.489s-5.818,13.263,7.273,19.158A16.771,16.771,0,0,1,0,23.594c13.091,7.368,29.091,0,29.091-16.947a6.716,6.716,0,0,0-.116-1.223A11.415,11.415,0,0,0,32,.015Z" transform="translate(0 0)" />
                            </svg>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Get the latest in Watches. HTML Ends Here -->